.depth {
  float: none !important;
}
.dl-inline dt {
    display: inline;
}
.dl-inline dt::after {
    content: ":";
}
.dl-inline dd {
    display: inline;
}
.dl-inline dd+dd:before
{
  content: ', ';
  margin-left: -4px;
}
.dl-inline dd+dt:before
{
  content: '; ';
  margin-left: -4px;
  font-weight: normal;
}
