{% extends 'base.html' %}

{% block body %}
<div class="container">
  <h1>Tyrannosaurus Thesaurus</h1>

  <form action="/" method="GET" accept-charset="utf-8">
    <div class="input-group">
      <input type="text" name="q" class="form-control input-lg" value="{{ request.GET.q }}" placeholder="I'm searching for...">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default input-lg">Search</button>
      </span>
    </div>
  </form>

  {% for descriptor in descriptors %}
  <h2>{{ descriptor.name }}</h2>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <p>{{ descriptor.description }}</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <dl class="dl-horizontal">
        <dt>Synonyms</dt>
        <dd>{% include 'description.html' with relation=descriptor.synonyms.all %}</dd>
        <dt>Parents</dt>
        <dd>{% include 'description.html' with relation=descriptor.parents.all %}</dd>
        <dt>Children</dt>
        <dd>{% include 'description.html' with relation=descriptor.children.all %}</dd>
        <dt>Higher level</dt>
        <dd>{% include 'description.html' with relation=descriptor.higher_level_descriptors.all %}</dd>
        <dt>Lower level</dt>
        <dd>{% include 'description.html' with relation=descriptor.lower_level_descriptors.all %}</dd>
        <dt>Part of</dt>
        <dd>{% include 'description.html' with relation=descriptor.part_of.all %}</dd>
        <dt>Consists of </dt>
        <dd>{% include 'description.html' with relation=descriptor.consists_of.all %}</dd>
        <dt>Associated with</dt>
        <dd>{% include 'description.html' with relation=descriptor.associated_with.all %}</dd>
        <dt>Techno-related</dt>
        <dd>{% include 'description.html' with relation=descriptor.related_technologically.all %}</dd>
      </dl>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
